section {
  padding: 4rem;
}
h1 {
  text-align: center;
  padding: 1rem;
  color: #fd79c2;
}
.card-list {
  display: flex;
  gap: 16px;
  container-type: inline-size;
  resize: horizontal;
  overflow: auto;
}

.card-list__item {
  width: 100%;
}

@container (min-width: 600px) {
  .card-list__item {
    width: calc((100% - 16px) / 2);
  }
}

.card {
  border: 2px solid gray;
  border-radius: 16px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.card__title {
  text-align: center;
  position: relative;
}

.card__content {
  margin-top: 1rem;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  text-align: center;
}

.card__image-wrapper {
  width: 35%;
  flex-shrink: 0;
}
.card__image {
  overflow: hidden;
  border-radius: 16px;
}

.card__text {
  font-family: serif;
}

.card__button-wrapper {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.card__button {
  appearance: none;
  border: none;
  background-color: #4b7cb6;
  color: white;
  padding: 1rem;
  min-width: 50%;
  border-radius: 100vh;
  cursor: pointer;
}

.section {
  margin: 32px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
/* Stylish Button */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2rem;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* For Link */
.card__button-wrapper a:hover {
  font-weight: bold;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
/* For Link */
